<div style="padding: 20px;">
  <div *ngFor="let c of categories" style="margin-bottom: 15px;">
    
    <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; border-collapse: collapse;">
      <thead>
        <tr>
          <th align="left" style="width: 50%;">Ma Danh Muc</th>
          <th align="left" style="width: 50%;">Ten Danh Muc</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ c.Cateid }}</td>
          <td>{{ c.CateName }}</td>
        </tr>
      </tbody>
    </table>

    <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; border-collapse: collapse;">
      <thead>
        <tr>
          <th align="left">Ma San Pham</th>
          <th align="left">Ten San Pham</th>
          <th align="left">Gia San Pham</th>
          <th align="center">Picture</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of c.Products">
          <td>{{ p.ProductId }}</td>
          <td>{{ p.ProductName }}</td>
          <td>{{ p.Price }}</td>
          <td align="center">
            <img [src]="p.Image" width="70px" />
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>